body{
    margin:0;
    background-color: white;
    font-family: 'Noto Sans', sans-serif, 'Merriweather', serif;

     
}
#header{
    text-align: center;
}

h1{
    font-family: 'Merriweather', serif;
    color: white;
    text-align: center;
}
h2{
    font-family: 'Merriweather', serif;
    color: white;
    text-align: center;
}
h3{
    font-family: 'Merriweather', serif;
    color: white;
    text-align: center;
}
p{
    font-family:'Noto Sans', sans-serif;
    color:white;
    text-align: center;
}
#nigeria{
    text-align: center;
}
#inec{
    text-align: center;
}
#banner-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width:1000px;
  }
.wrapper{
    max-width:960px;
    width:95%;
    margin:5px auto; 
}
.wrapper1{
    max-width:960px;
    width:95%;
    margin:5px auto;
     
}
.centered_element {
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translate(-50%, -50%);
    background-color: #8E793E ;
    color: white;
    padding:20px;
  }
#pagecontent{
    background:#8E793E;
    box-shadow: 2px 5px;
    padding:1%;

}
.commercial{
    display:grid;
    grid-gap: 25px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.purpose{
    background-color: #AD974F;
}
.join{
    text-align: center;
    background-color:white;
    font-size: 3em;
}
.contactinfo{
    background-color: #AD974F;
        display:grid;
        max-width:980px;
        grid-template-columns: 33.33% 33.33% 33.33%;
        margin:5px auto;
        color:white;
      
}
.directoryinfo{
    text-align: center;
}
.contactinfo{
    text-align: center;
}
.contactinfo > div{
    background-color: #AD974F;
    padding:10px;
  
  }
  
  .contactinfo > div:nth-child{
    background: #AD974F;
  }
  
  .contactinfo a {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .contactinfo a:hover {
    color: black;
    text-decoration: none;
  }
footer{
    text-align: center;
    background-color: #8E793E;
}
.form-popup{
    background-color: #AD974F;
    max-width: 100%;
    text-align: center;
    
}
.action_banner{
    background-color: white;
    text-align: center;
  
}

.Benefits{
    max-width: 980px;
    margin:5px auto;
    color: white;
    width:100%;
    background-color: #8E793E;
    padding-top:10px;
    padding-bottom:20px;
    padding-left:3px;
    padding-right:3px;
   
  }
  
  .left{
    float: left;
    padding:0 10px 0px 0px;
    max-width:100%;
    font-family: 'Roboto', sans-serif;
  }
  
  .right{
    float:right;
    padding:0 10px 0px 0px;
    max-width:100%;
    font-family: 'Roboto', sans-serif;
  }
  .contactform{
      background-color: #AD974F;
      text-align: center;
  }
  .map{
      text-align: center;
  }

.material-icons{
    color:white;
    /* width: 50px; */
}


/* navigation css code */
nav {
	margin: 0 auto;
	max-width: 100%;
    height: 50%;
	background-color: #8E793E;
  
}
.navigation {
	list-style: none;
	padding: 0;
  text-align: center;
}
.navigation li:first-child {
	display: block;
  text-align: center;
}
.navigation li {
	display: none;
  text-align: center;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: whitesmoke;
	font-weight: 700;
	transition: 0.5s;

}
.navigation a:hover {
	color:whitesmoke;
	background-color:#AD974F;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}