header {
  display: flex;
  padding: 0;
  text-align: center;
  color: whitesmoke;
  background-color: #49274a;

}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #F4DECB;
  max-width: 100vw;
  width: 100%;
}

html {
  max-width: 100vw;
  width: 100%;
}

h1 {
  font-family: 'Noto Serif', serif;
  font-size: 40px;
  color: whitesmoke;
  padding-bottom: 10px;
  background-color: #49274a;
  margin: 0px;
}


.summaryHeader  {
  
  display: block;
  text-align: center;
  font-family: 'Noto Serif', serif;
  font-size: 25px;
  color: whitesmoke;
 

}


h3 {
  font-family: 'Noto Serif', serif;
  font-size: 20px;
  color: whitesmoke;
}

#preston{
  font-size: 50px;
  display: block;
  text-align: center;
}


#sitename {
  display: block;
  color: whitesmoke;
  font-size: 20px;
  margin: 10px;
}

#sitename h1 {
  padding: 0px;
  font-size: 30px;

}

#sitename p {
  margin: 0px;
  font-size: 12px;
}

#id1 {
  font-size: 50px;
  display: block;
  text-align: center;
}


#logo1 {
  width: 100px;
  float:left;
}

.action {
  grid-column: 2;
  grid-row: 1;
  margin: 1em 3em;
  padding: 1em;
  text-align: center;
}

footer {
  font-family: 'Noto Serif', serif;
  font-size: 15px;
  color: whitesmoke;
  background-color: #49274a;
  padding: 15px;
  display: block;
  text-align: center;
}


/* Small/Phone View ***************/
nav {
	margin: 0 auto;
	max-width: 100%;
	background-color: #49274a;
  
}
.navigation {
	list-style: none;
	padding: 0;
  text-align: center;
}
.navigation li:first-child {
	display: block;
  text-align: center;
}
.navigation li {
	display: none;
  text-align: center;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: whitesmoke;
	font-weight: 700;
	transition: 0.5s;

}
.navigation a:hover {
	color:whitesmoke;
	background-color:#94618e;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}

.box {
  margin : 20px;
  margin-bottom : 0;
  padding : 20px;
  border-style :groove;
  border-color:black;
  background-color : #49274a;
  color:whitesmoke;
content: "";
display: grid;
clear: both;
} 

.weatherSummary{
list-style-type: none;
text-align: left;
}

#idahoImage {
display : block;
height : 350px;
width : 100%;
margin : 0 auto;
} 

#weatherSummary ul {
list-style-type : none;

} 

.grid {
  display : grid;
  grid-template-columns : 1fr 1fr;
}
  
#labels {
  text-align : center;
  padding : 0;	
}
  
  
#forecast {
  padding : 1.5rem;
  display : none;	
} 

@media (max-width: 32.5em) {
#forecastImage {
  display: none;
}
}

table {
margin : 0 auto;
width : 100%;
align-items: center;
background-color : #49274a;
}

table, th, td {
border : black solid 1px;
  font-family: 'Roboto', sans-serif;
}

th {
font-size : 1.25rem;
background-color : #49274a;
}

td {
padding-top : 10px;
text-align : center;
font-size : 1.25rem;
background-color : #49274a;
align-items: center;
} 

tr{
  text-align: center;
  align-items: center;
}


#cityImage{
float : left;
}


#prestonMap{
float : left;
}

noscript {
margin : 1rem;
background-color : #49274a;
  color:whitesmoke;
width : 100%;
}

#banner-top {
display : none;
text-align : center;
background-color : #49274a;
color:whitesmoke;
padding : 0.75rem;
} 




#heroImage {
	display : block;
	height : auto;
	width : 100%;
	margin : 0 auto;
} 